﻿@page
@{
    ViewData["Title"] = "Admin";
    @model IndexModel
}
<section class="esh-catalog-hero">
    <div class="container">
        
    </div>
</section>
<section class="esh-catalog-filters">
    <div class="container">        
    </div>
</section>
<div class="container">
    
        <div class="esh-catalog-items row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    
</div>
